<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Scripts/jqwidgets/styles/jqx.base.css" rel="stylesheet"/>
    <link href="/Scripts/jqwidgets/styles/qtxTheme.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqwidget")
</head>
<body style="background-color:#bfbfbf">
    <header >
        <div class="content-wrapper">
            <div class="float-left" >
                <div class="site-title">
                    <table width="1080px" border="0">
                        <tr>
                            <td width="110px">
                                <img src="~/Images/DoctorPhoto.jpg" width="100px" height="100px" />
                            </td>
                            <td>
                                <span class="header-doctor">DR.</span>
                                <span class="header-doctor-name">DAVID WANG</span>
                            </td>
                            <td>
                                <div class="header-menu">
                                    <nav>
                                        <ul id="menu">
                                            <li>@Html.ActionLink("DOCTORS ", "Index", "Home")</li>
                                            <li>@Html.ActionLink("VISITS ", "About", "Home")</li>
                                            <li>@Html.ActionLink("ACTIVITIES ", "Contact", "Home")</li>
                                            <li>@Html.ActionLink("GOALS ", "Contact", "Home")</li>
                                            <li>@Html.ActionLink("SCHEDULE ", "Contact", "Home")</li>
                                        </ul>
                                    </nav>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </header>
    <div class="body-wrapper">
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-right">
                    <p>
                        <font class="ARR">ALL RIGHTS RESERVED&nbsp;</font>
                        <img width="20px" height="20px" style="vertical-align:middle" src="~/Images/LogoSmall.png" />
                        <font class="logo">&nbsp;CPC</font>
                    </p>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
